[submodule "lib/middleclass"]
	path = lib/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "lib/anim8"]
	path = lib/anim8
	url = https://github.com/kikito/anim8.git
[submodule "lib/bump.lua"]
	path = lib/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "lib/Simple-Tiled-Implementation"]
	path = lib/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
